   

  
/* barra de navegación*/
h2{
    text-transform: uppercase;

}
.navbar{
    padding: 0%;
    margin: 0%;
}
.container-fluid{
    background-color:#bbbbbb ;
    opacity: 90%;
    margin: 0%;
}

.img-nav{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    padding: 0%;
}
.nav-link{
    color: #366a87 ;
    font-weight: bold;
}

.nav-link:hover{
    color: white;
    text-decoration:2px underline;
}

.nav-link:active{
    color: white;
}


/*=============== Estilos de carrusel=========================*/
.img-carousel{
    height: 700px;
    width: 100%;
}

.carousel-slide{
    width: 100%;
    
}
.carousel-item{
    width: 100%;
    
}


/*  ================ Quienes somos ==========================*/

#historia{
    padding-top: 180px;
}


/* ==================== Estilo CSS para Servicios ==================*/
.servicios{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 180px;
    cursor: pointer;
   
    
    
}

.img-services{
    width: auto;
    height: 300px;
    box-sizing: border-box;

}

#map-form1{
   
    border-radius: 10px;
    margin-bottom: 50px;
    
}
#map-form2{
   
    border-radius: 10px;
    margin-bottom: 50px;
}

/* ========================= Estilos CSS para el formulario  ==========================*/
#contactForm {
    width: 80%;
    margin: auto;
    text-align:center;
  }

  input{
    border: 2px solid #366a87;
  }

  input:focus{
    border: 3px solid;
    border-color: #366a87;
    color: #888;
    border-radius: 6px;
    outline: none; /* Esto elimina el resaltado predeterminado en algunos navegadores */
    
  }
  
  
    
    


a:focus {
    color: red;
    text-decoration: underline;
}


  label{
    color: #366a87;
    text-align:start;
    font-weight: bold;


  }

  #formulario{
    
    background-color: #3d5561 ;
    text-align: center;
    color: white;
    
  }
 
  .img-form{
    height:80px;
    width: 80px;
  }
  
  /* ================================== Estilos CSS para el modal ========================= */
  .modal {
    display: none; 
    position: fixed; 
     
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center; /* Centrar contenido del modal */
  }
  .accept-btn {
    padding: 10px 20px;
    background-color: #366a87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .accept-btn:hover {
    background-color: #3d5561 ;
  }




/* ==============================Codigo CSS correspondiente al footer==================*/
.img-footer{
  width: 25px;
  height: 25px;
  
  
}

.img-footer:hover{
  align-items: flex-start;
  opacity: 0.4;
  width: 35px;
  height: 35px;
  
}


/* ====================== galería ====================================*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card-img-top{
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.card-img-top:hover{
  box-sizing: border-box;
  box-shadow: 0 0 10px #366a87;
}

.img-galery{
  width: 200px;
  height: auto;
  align-items:flex-start;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* ====================== Estilos preguntas frecuentes ================================*/
:root {
	--primario: #4a39e2;
	--gris-claro: #B8B8B8;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f8fafb;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 1000px;
	width: 90%;
	margin: 40px auto;
}

.titulo {
	color: #366a87;
	font-weight: 800;
	text-align: center;
	margin: 60px 0;
}


/*! ============= Categorias ============= */



.categoria {
	cursor: pointer;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	font-weight: 300;
	color: var(--gris-claro);
	border: 2px solid transparent;
	transition: .3s ease all;
}


/*! ============= Contenedor Preguntas ============= */

#preguntas{
  padding-top:  180px;
}

.contenedor-preguntas {
	display: none;
	grid-template-columns: 1fr;
	gap: 40px;
}

.contenedor-preguntas.activo {
	display: grid;
}

.contenedor-pregunta {
	background: #fff;
	padding: 40px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor-pregunta:hover {
	box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
	border: 2px solid var(--primario);
}


/*! ============= Preguntas ============= */

.pregunta {
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pregunta img {
	width: 14px;
}

.respuesta {
	color: #808080;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor-pregunta.activa img {
	transform: rotate(45deg);
}