

/* barra de navegación*/

.container-fluid{
    background-color:#bbbbbb ;
    opacity: 90%;  
}

.img-nav{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

/*Estilos de carrusel */

/*  Quienes somos */

#historia{
    padding-top: 180px;
}


/* Estilo Servicios*/
.servicios{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 180px;
}

.card-img-top{
    width: auto;
    height: 400px;

}



/* Estilos CSS para el formulario */
#contactForm {
    width: 80%;
    margin: auto;
  }

  #formulario{
    padding-top: 180px;
  }
  
  /* Estilos CSS para el modal */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center; /* Centrar contenido del modal */
  }
  .accept-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .accept-btn:hover {
    background-color: #45a049;
  }

/*   esto se debe modificar despues*/
  hr{
    color: red;
}